<div>
  <icon-button image="hard-disk" label="Import&#10;Export" actionName="gestionFichier" (clicked)="onClick($event)"/>
  <icon-button image="actions-document-edit" label="Paramètres&#10;programme" actionName="paramProg" (clicked)="onClick($event)"/>
  <icon-button image="actions-list-add" label="Insérer&#10;étape" (clicked)="onClick($event)"/>
  <icon-button image="actions-list-remove" label="Supprimer&#10;étape" actionName="x" (clicked)="onClick($event)"/>
  <icon-button image="ok" label="Enregistrer&#10;en local" actionName="save" (clicked)="onClick($event)"/>
</div>
